<div class="container">
				<div class="row col-xs-12">
					<div class="aligncenter"><h1 class="jumbotron text-left">SmartPDF Share</h1></div>
					<form class="col-xs-12 jumbotron blue">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Share File</h3>
								</div>

								<div class="container">
									<div class="form-group">
										<div class="panel-body">

													<ul class="list-group">
														<h4 class="list-group-item-heading">Files</h4>
														<li  class="list-group-item active">File_1.pdf</li>
														<li class="list-group-item">File_2.pdf</li>
														<li class="list-group-item">File_3.pdf</li>
														<li class="list-group-item">File_4.pdf</li>
													</ul>

													<ul class="list-group">
														<h4 class="list-group-item-heading">Users</h4>
														<li  class="list-group-item active">User 1</li>
														<li class="list-group-item">User 2</li>
														<li class="list-group-item">User 3</li>
														<li class="list-group-item">User 4</li>
													</ul>

											<button type="submit" class="btn btn-primary">Share</button>
										</div>
									</div class="form-group">
								</div>

								<div class="panel-footer">
									<button type="button" class="btn btn-link">Home</button>
									<button type="button" class="btn btn-link pull-right">Log out</button>
								</div>
						</div>
					</form>
				</div>
</div>
