.spacer { 
	margin:0; padding:0; height:10px; 
}

hr {
  margin: 8px 0;
}

.aligncenter{
	text-align: center;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

[hidden] {
  display: none !important;
}

.nav-tabs  {
	background-color: #3071a9;
	border-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000;
}
.nav-tabs > li > a {
  color: #fff;
}